<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat Da Burger!</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
  <script src="/burger.js"></script>
</body>
</html>
