<h1>Eat Da Burger!</h1>
<img src="/assets/images/burger.png" alt="burger" class="burgerImg">
<div class="available">
	<h2>Available Burgers</h2>
	<ul>
		{{#each burgers}}
		{{#unless this.devoured}}
		<li>{{this.burger_name}}
			<button class="devoured" data-id="{{id}}">
				Devoure It!
			</button>
		</li>

		{{/unless}}
		{{/each}}
	</ul>
</div>


<div class="eaten">
	<h2>Burgers That Are Devoured!</h2>
	<ul>
		{{#each burgers}}
		{{#if this.devoured}}
		<li>
			{{this.burger_name}}
			{{/if}}
		</li>
		{{/each}}
	</ul>
</div>


<form class="create-form">

	<div class="form-group">
		<label>Enter Your favorite Burger!</label>
		<br>
		<input type="text" id="burger" name="name" placeholder="Burger Name">
	</div>

	<button type="submit">Submit</button>
</form>
